* {
  margin: 0;
  padding: 0;
}

:root {
  --pink: #E409AC;
  --yellow: #FFC60A;
  --blue: #00B1FD;
}

body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#title {
  font-family: 'Chango', cursive;
}

/* Above the Fold White Section */
#white-half1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 500px;
  margin-bottom: 5px;
  justify-content: center;
  background-color: white;
}

/* blue square is stationary */
#blue-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
}

/* yellow square is faster */
#yellow-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 2s infinite;
  animation: rescale 2s infinite;
}

/* pink square is slower */
#pink-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--pink);
  opacity: 0.83;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 1s infinite;
  animation: rescale 4s infinite;
}

/* Animation for the Squares */
@-webkit-keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* Animation for the Squares */
@keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* Above the Fold Black Section */
#black-half1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/navBar.png") center no-repeat;
}

/* Navigation Bar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

/* Navigation Bar */
nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Homemade Apple', cursive;
  color: black;
  font-size: 3em;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-decoration: none;
}


#about-me-link {
  padding: 2em 0 6em 0;
}

#work-link {
  padding: 1em 0 3em 0;
}

#contact-me-link {
  padding: 3em 0 1em 0;
}

/* About Me Section */
.about-me {
  margin: 60px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* About Me Section Black Section */
#black-half2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/black-paint.png") repeat;
  z-index: -1;
}

/* Moving Circle Section */
#moving-circles {
  margin-top: 140px;
  left: 66px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 82px;
  align-items: center;
}

#pink-circle {
  margin-top: -20px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--pink);
  justify-content: center;
  align-content: center;
  animation: moveUp 2s infinite;
  animation: moveDown 2s infinite;
}

#blue-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
  animation: moveLeft 2s infinite;
  animation: moveRight 2s infinite;
}

#yellow-circle {
  margin-top: 145px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  animation: moveRight 2s infinite;
  animation: moveLeft 2s infinite;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/* Animation for the Circles */
@keyframes moveUp {
  from {
    top: 0;
  }
  to {
    top: -7px;
  }
}

@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 7px;
  }
}

@keyframes moveLeft {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

@keyframes moveRight {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

/* About Me Section White Section */
#white-half2 {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex-wrap: wrap;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  background-color: white;
  z-index: -1;
}

/* Picture of Amy */
#amy-pic {
  display: flex;
  position: absolute;
  margin-top: -270px;
  right: 120px;
  animation: moveDown 2s infinite;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
  -webkit-animation: pictureBop 1s infinite;
  animation: pictureBop 2s infinite;
  z-index: 1;
}

/* Animation for the Picture of Amy */
@-webkit-keyframes pictureBop  {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(5deg);}
  20% {transform:rotate(7deg);}
  30% {transform:rotate(10deg);}
  40% {transform:rotate(7deg);}
  50% {transform:rotate(5deg);}
  60% {transform:rotate(2deg);}
  70% {transform:rotate(0deg);}
  80% {transform:rotate(-1deg);}
  90% {transform:rotate(-3deg);}
  100% {transform:rotate(-5deg);}
}

/* Animation for the Picture of Amy */
@keyframes pictureBop  {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(5deg);}
  20% {transform:rotate(7deg);}
  30% {transform:rotate(10deg);}
  40% {transform:rotate(7deg);}
  50% {transform:rotate(5deg);}
  60% {transform:rotate(2deg);}
  70% {transform:rotate(0deg);}
  80% {transform:rotate(-1deg);}
  90% {transform:rotate(-3deg);}
  100% {transform:rotate(-5deg);}
}

#about-me-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About Me Image */
#about-me-header {
  margin-top: -55px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
}

#about-me-text p {
  margin-top: 210px;
  font-family: 'Readex Pro', sans-serif;
  width: 200px;
  line-height: 1.2em;
}

p {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: 'Readex Pro', sans-serif;
}

/* Work Section */
.work {
  margin: 600px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
}

/* Work Section Image */
#work-header {
  margin-top: -350px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 220px;
  z-index: 1;
}

/* Work Section White Section */
#white-half3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 500px;
  background-color: white;
  z-index: 1;
}

#work-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#work-text p {
  margin-top: -240px;
  font-family: 'Readex Pro', sans-serif;
  width: 200px;
}

/* Dropdown menu from Bootstrap */
.dropdown-toggle {
  margin-bottom: 150px;
  padding: .5em;
  width: 270px;
  font-family: 'Chango', cursive;
  background-color: var(--pink);
  color: white;
  border-radius: 5em;
}

.dropdown-toggle:hover {
  font-family: 'Chango', cursive;
  background-color: var(--blue);
  color: white;
}

.dropdown-item {
  font-family: 'Readex Pro', sans-serif;
  color: black;
  line-height: 1.2em;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  border: solid 2px var(--blue);
  margin: 5px;
  padding: 5px;
  flex-direction: column;
}

.dropdown-item:hover {
  font-family: 'Readex Pro', sans-serif;
  color:var(--pink);
  font-weight: 900;
  text-decoration: none;
}

a {
  font-family: 'Chango', cursive;
}

#work-square {
  position: absolute;
  margin-top: -20px;
  left: -15px;
  width: 105px;
  height: 105px; 
  background-color: var(--pink); 
}

#work-triangle {
  position: absolute;
  margin-top: 30px;
  right: 50px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid var(--blue);
}

#work-circle {
  position: absolute;
  margin-top: -30px;
  right: -10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--yellow);
}

#work-square a,
#work-circle a,
#work-triangle a {
  font-size: 1.3em;
  font-family: 'Homemade Apple', cursive;
  color: black;
  text-decoration: none;
}

/* The font gets bigger when the user hovers over the link */
#work-square a:hover,
#work-circle a:hover,
#work-triangle a:hover {
  font-size: 2.5em;
  font-family: 'Homemade Apple', cursive;
  color: black;
}

/* Work Section Black Section */
#black-half3 {
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  right: 0;
  width: 65%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/black-paint.png") repeat;
  z-index: -1;
}

/* yellow triangle is stationary */
#yellow-triangle {
  display: flex;
  position: absolute;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--yellow);
}

/* blue triangle spins */
#blue-triangle {
  display: flex;
  position: absolute;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  opacity: .72;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--blue);
  -webkit-animation: rescale 1s infinite;
  animation: rescale 5s infinite;
}

/* pink triangle spins */
#pink-triangle {
  display: flex;
  position: absolute;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  opacity: .82;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--pink);
  -webkit-animation: rescale 1s infinite;
  animation: rescale 3s infinite;
}

/* Animation for the Triangles */
@-webkit-keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

@keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* After the user selects a project to view, the triangles change to a gif of the project */
#project-gif {
  display: flex;
  margin: 7%;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: auto;
  border-radius: 3em;
  z-index: 1;
}

/* Contact Me Section */
.contact-me {
  margin: 1100px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background: black url("./images/black-paint.png") repeat;
  z-index: -1;
}

/* Contact Me Image */
.contact-me-header {
  position: absolute;
  display: flex;
}

.contact-me a {
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
  color: var(--yellow);
  line-height: 2em;
  text-decoration: none;
}

.contact-me a:hover {
  font-family: 'Inconsolata', monospace;
  color: var(--pink);
  line-height: 2em;
  text-decoration: wavy var(--yellow) underline;
}

#contact-me-circle {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  opacity: 0;
  background-color var(--blue);
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

/* Media Queries for Mobile */
@media screen and (max-width: 600px) {
  #white-half1, #black-half1 {
    width: 100%;
  }
  #black-half2, #white-half2 {
    width: 100%;
  }
  #blue-circle, #yellow-circle, #pink-circle {
    width: 30px;
    height: 30px;
  }
  #moving-circles {
    margin-top: 300px;
    left: 5px;
  } 
  #amy-pic {
    margin-top: -300px;
    right: 50px;
  } 
  .work {
    margin: 600px 0 200px 0;
    height: 1200px;
  }
  #white-half3, #black-half3 {
    width: 100%;
  }
  #black-half3 {
    margin-top: 600px;
    z-index: 1;
  }
  .contact-me {
    margin: 1600px 0 10px 0;
    width: 100%;
  }
}

/* Media Queries for iPads */
@media screen and (max-width: 768px) {
  #white-half1, #black-half1 {
    width: 100%;
  }
  #black-half2, #white-half2 {
    width: 100%;
  }
  #blue-circle, #yellow-circle, #pink-circle {
    width: 100px;
    height: 100px;
  }
  #moving-circles {
    margin-top: 300px;
    left: 5px;
  } 
  #amy-pic {
    margin-top: -300px;
    right: 50px;
  } 
  .work {
    margin: 600px 0 200px 0;
    height: 1200px;
  }
  #white-half3, #black-half3 {
    width: 100%;
  }
  #black-half3 {
    margin-top: 600px;
    z-index: 1;
  }
  .contact-me {
    margin: 1600px 0 10px 0;
    width: 100%;
  }
}

/* Media Queries for larger screens*/
@media screen and (min-width: 992px) {
  body {
    width: 100%;
  }
}