* {
  margin: 0;
  padding: 0;
}

:root {
  --pink: #E409AC;
  --yellow: #FFC60A;
  --blue: #00B1FD;
}

body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#white-half1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 5px;
  justify-content: center;
  background-color: white;
}

/* blue square is stationary */
#blue-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
}

/* yellow square is faster */
#yellow-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 2s infinite;
  animation: rescale 2s infinite;
}

/* pink square is slower */
#pink-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--pink);
  opacity: 0.83;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 1s infinite;
  animation: rescale 4s infinite;
}

@-webkit-keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

@keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

#black-half1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 500px;
  justify-content: center;
  background: black url(/Users/amyshafer/Bootcamp/Amy-U-Shafer-Portfolio/assets/images/navBar.png) center repeat;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Homemade Apple', cursive;
  color: black;
  font-size: 3em;
  text-decoration: none;
}

#about-me-link {
  padding: 3em 0 2em 0;
}

#work-link {
  padding: 1.8em 0 2em 0;
}

#contact-me-link {
  padding: 1em 0 2em 0;
}

.about-me {
  margin: 50px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#black-half2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
  justify-content: center;
  background: black url(/Users/amyshafer/Bootcamp/Amy-U-Shafer-Portfolio/assets/images/black-paint.png) center repeat;
  z-index: -1;
}

#moving-circles {
  margin-top: 110px;
  left: 66px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 82px;
  align-items: center;
}

#pink-circle {
  margin-top: -20px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--pink);
  justify-content: center;
  align-content: center;
  animation: moveUp 2s infinite;
  animation: moveDown 2s infinite;
}

#blue-circle {
  /*margin-top: 100px;*/
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
  animation: moveLeft 2s infinite;
  animation: moveRight 2s infinite;
}

#yellow-circle {
  margin-top: 145px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  animation: moveRight 2s infinite;
  animation: moveLeft 2s infinite;
}

@keyframes moveUp {
  from {
    top: 0;
  }
  to {
    top: -7px;
  }
}

@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 7px;
  }
}

@keyframes moveLeft {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

@keyframes moveRight {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

#white-half2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  background-color: white;
  z-index: -1;
}

#about-me-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me-header{
  margin-top: -55px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.2em;
}

p {
  margin-top: 210px;
  font-family: 'Readex Pro', sans-serif;
  width: 200px;
}

/* animated squares -- home

/* animated circles -- about me

/* animated triangles -- work

/* animated lines -- contact me