* {
  margin: 0;
  padding: 0;
}

:root {
  --pink: #E409AC;
  --yellow: #FFC60A;
  --blue: #00B1FD;
}

body {
  background-color: white;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#title {
  font-family: 'Chango', cursive;
}

/* Above the Fold White Section */
#white-half1 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 5px;
  justify-content: center;
  background-color: white;
}

/* blue square is stationary */
#blue-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
}

/* yellow square is faster */
#yellow-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 2s infinite;
  animation: rescale 2s infinite;
}

/* pink square is slower */
#pink-square {
  position: absolute;
  margin-top: 135px;
  width: 300px;
  height: 300px; 
  background-color: var(--pink);
  opacity: 0.83;
  justify-content: center;
  align-content: center;
  -webkit-animation: rescale 1s infinite;
  animation: rescale 4s infinite;
}

/* Animation for the Squares */
@-webkit-keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* Animation for the Squares */
@keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* Above the Fold Black Section */
#black-half1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/navBar.png") center no-repeat;
}

/* Navigation Bar */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 2.5em;
}

ul {
  list-style: none;
}

/* Navigation Bar */
nav ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Homemade Apple', cursive;
  color: black;
  font-size: 3em;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  font-size: 3em;
  font-weight: 600;
  text-decoration: none;
}


#about-me-link {
  padding: 2em 0 6em 0;
}

#work-link {
  padding: 1em 0 3em 0;
}

#contact-me-link {
  padding: 3em 0 1em 0;
}

/* About Me Section */
.about-me {
  margin: 60px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* About Me Section Black Section */
#black-half2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/black-paint.png") repeat;
  z-index: -1;
}

/* Moving Circle Section */
#moving-circles {
  margin-top: 140px;
  left: 66px;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 82px;
  align-items: center;
}

#pink-circle {
  margin-top: -20px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--pink);
  justify-content: center;
  align-content: center;
  animation: moveUp 2s infinite;
  animation: moveDown 2s infinite;
}

#blue-circle {
  /*margin-top: 100px;*/
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
  animation: moveLeft 2s infinite;
  animation: moveRight 2s infinite;
}

#yellow-circle {
  margin-top: 145px;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--yellow);
  opacity: 0.75;
  justify-content: center;
  align-content: center;
  animation: moveRight 2s infinite;
  animation: moveLeft 2s infinite;
}

@keyframes moveUp {
  from {
    top: 0;
  }
  to {
    top: -7px;
  }
}

@keyframes moveDown {
  from {
    top: 0;
  }
  to {
    top: 7px;
  }
}

@keyframes moveLeft {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

@keyframes moveRight {
  from {
    left: 35px;
  }
  to {
    left: 16px;
  }
}

/* About Me Section White Section */
#white-half2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 500px;
  background-color: white;
  z-index: -1;
}

/* Picture of Amy */
#amy-pic {
  position: absolute;
  display: flex;
  margin-top: -270px;
  right: 120px;
  animation: moveDown 2s infinite;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--blue);
  justify-content: center;
  align-content: center;
  -webkit-animation: pictureBop 1s infinite;
  animation: pictureBop 2s infinite;
  z-index: 1;
}

/* Animation for the Picture of Amy */
@-webkit-keyframes pictureBop  {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(5deg);}
  20% {transform:rotate(7deg);}
  30% {transform:rotate(10deg);}
  40% {transform:rotate(7deg);}
  50% {transform:rotate(5deg);}
  60% {transform:rotate(2deg);}
  70% {transform:rotate(0deg);}
  80% {transform:rotate(-1deg);}
  90% {transform:rotate(-3deg);}
  100% {transform:rotate(-5deg);}
}

/* Animation for the Picture of Amy */
@keyframes pictureBop  {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(5deg);}
  20% {transform:rotate(7deg);}
  30% {transform:rotate(10deg);}
  40% {transform:rotate(7deg);}
  50% {transform:rotate(5deg);}
  60% {transform:rotate(2deg);}
  70% {transform:rotate(0deg);}
  80% {transform:rotate(-1deg);}
  90% {transform:rotate(-3deg);}
  100% {transform:rotate(-5deg);}
}

#about-me-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About Me Image */
#about-me-header {
  margin-top: -55px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
}

#about-me-text p {
  margin-top: 210px;
  font-family: 'Readex Pro', sans-serif;
  width: 200px;
  line-height: 1.2em;
}

p {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: 'Readex Pro', sans-serif;
}

/* Work Section */
.work {
  margin: 600px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Work Section Image */
#work-header {
  margin-top: -350px;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 220px;
}

/* Work Section White Section */
#white-half3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 500px;
  background-color: white;
  z-index: -1;
}

#work-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#work-text p {
  margin-top: -245px;
  font-family: 'Readex Pro', sans-serif;
  width: 200px;
}

#carouselExampleCaptions {
  padding-top: 5em;
}

.carousel-caption h5 {
  font-family: 'Chango', cursive;
}

.carousel-caption p {
  font-family: 'Readex Pro', cursive;
}

#work-square {
  position: absolute;
  display: flex;
  right: 5px;
  width: 185px;
  height: 185px; 
  background-color: var(--pink); 
}

#work-circle {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--blue);
}

#work-smaller-circle {
  position: absolute;
  top: -110px;
  left: 50px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--yellow);
}

#work-square a,
#work-circle a,
#work-smaller-circle a {
  font-size: 1.5em;
  font-family: 'Inconsolata', monospace;
  color: darkviolet;
  text-decoration: none;
}

#work-square a:hover,
#work-circle a:hover,
#work-smaller-circle a:hover {
  font-size: 2.5em;
  font-family: 'Inconsolata', monospace;
  color: green;
}

/* Work Section Black Section */
#black-half3 {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 0;
  width: 65%;
  height: 500px;
  justify-content: center;
  background: black url("../assets/images/black-paint.png") repeat;
  z-index: -1;
}

/* yellow triangle is stationary */
#yellow-triangle {
  margin-top: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--yellow);
}

/* blue triangle spins */
#blue-triangle {
  margin-top: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  opacity: .72;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--blue);
  -webkit-animation: rescale 1s infinite;
  animation: rescale 5s infinite;
}

/* pink triangle spins */
#pink-triangle {
  margin-top: 50px;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  opacity: .82;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 300px solid var(--pink);
  -webkit-animation: rescale 1s infinite;
  animation: rescale 3s infinite;
}

@-webkit-keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

@keyframes rescale {
  0% {transform:rotate(0deg);}
  10% {transform:rotate(36deg);}
  20% {transform:rotate(72deg);}
  30% {transform:rotate(108deg);}
  40% {transform:rotate(144deg);}
  50% {transform:rotate(180deg);}
  60% {transform:rotate(216deg);}
  70% {transform:rotate(252deg);}
  80% {transform:rotate(288deg);}
  90% {transform:rotate(334deg);}
  100% {transform:rotate(360deg);}
}

/* Contact Me Section */
.contact-me {
  margin: 1100px 0 10px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background: black url("./images/black-paint.png") repeat;
  z-index: -1;
}

/* Contact Me Image */
.contact-me-header {
  position: absolute;
  display: flex;
}

.contact-me a {
  font-size: 2em;
  font-family: 'Inconsolata', monospace;
  color: var(--yellow);
  line-height: 2em;
  text-decoration: none;
}

.contact-me a:hover {
  font-family: 'Inconsolata', monospace;
  color: var(--pink);
  line-height: 2em;
  text-decoration: wavy var(--yellow) underline;
}

#contact-me-circle {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  opacity: 0;
  background-color var(--blue);
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  body {
    width: 100%;
  }
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
